<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>299892698313-ojlfj3uqldrkgb712tv5vbddu6a0u3jm.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.299892698313-ojlfj3uqldrkgb712tv5vbddu6a0u3jm</string>
	<key>API_KEY</key>
	<string>AIzaSyCRxpcNxlUkm7W7sn8X2cTUQavb7LzTxe8</string>
	<key>GCM_SENDER_ID</key>
	<string>299892698313</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>jp.keyber.flutter-sample-fire</string>
	<key>PROJECT_ID</key>
	<string>flutter-sample-fire-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-sample-fire-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299892698313:ios:ab7e72ad63ab622f46f118</string>
</dict>
</plist>